Package: bambooslacking
Version: 1.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: libcpprest-dev (>= 2.10.2-6), libboost-all-dev (>= 1.65), libleveldb-dev (>= 1.20-2)
Maintainer: recipe <recipe@ukr.net>
Description: BambooSlacking service is a Slack bot that is integrated with BambooHR
